body {
  background-color: rgba(212, 29, 29, 0.5);
}

.container {
  background-color: #fff;
  width: 879px;
  border: 17px solid grey;
  display: grid;
  margin: auto;
  grid-template-columns: repeat(8, 1fr);
  gap: 5px;
}

.square {
  margin: 2px;
  background-color: black;
  width: 100px;
  height: 100px;
}


.square:nth-child(-2n + 7),
.square:nth-child(9) ~  div:nth-child(-2n + 16), 
.square:nth-child(16) ~ div:nth-child(-2n + 23), 
.square:nth-child(25) ~ div:nth-child(-2n + 32), 
.square:nth-child(32) ~ div:nth-child(-2n + 39), 
.square:nth-child(41) ~ div:nth-child(-2n + 48), 
.square:nth-child(48) ~ div:nth-child(-2n + 55), 
.square:nth-child(56) ~ div:nth-child(-2n + 64) 
{
  background-color: rgb(255, 255, 228);
}


/* pawns */
.square:nth-child(8) ~ div:nth-child(-1n + 16)::before,
.square:nth-child(48) ~ div:nth-child(-1n + 56)::before {
  @import url(https://unicode-table.com/en/2659/);
  content: '\2659';
  font-size: 80px;
  display: inline-block;
  color: rgb(228, 222, 222);
  position: relative;
  left: 10%;  
}

/* rooks */
.square:nth-child(1)::before,
.square:nth-child(8)::before,
.square:nth-child(57)::before,
.square:nth-child(64)::before 
{
  @import url(https://unicode-table.com/en/2656/);
  content: '\2656';
  font-size: 80px;
  display: inline-block;
  color: rgb(228, 222, 222);
  position: relative;
  left: 10%;
}

/* knights */
.square:nth-child(2)::before,
.square:nth-child(7)::before,
.square:nth-child(58)::before,
.square:nth-child(63)::before
{
  @import url(https://unicode-table.com/en/2658/);
  content: '\2658';
  font-size: 80px;
  display: inline-block;
  color: rgb(228, 222, 222);
  position: relative;
  left: 10%;  
}

/* bishops */
.square:nth-child(3)::before,
.square:nth-child(6)::before,
.square:nth-child(59)::before,
.square:nth-child(62)::before{
  @import url(https://unicode-table.com/en/2657/);
  content: '\2657';
  font-size: 80px;
  display: inline-block;
  color: rgb(228, 222, 222);
  position: relative;
  left: 10%;  
}

/* kings */
.square:nth-child(4)::before,
.square:nth-child(60)::before 
{
  @import url(https://unicode-table.com/en/2654/);
  content: '\2654';
  font-size: 80px;
  display: inline-block;
  color: rgb(228, 222, 222);
  position: relative;
  left: 10%;
}

/* queens */
.square:nth-child(5)::before,
.square:nth-child(61)::before
{
  @import url(https://unicode-table.com/en/2655/);
  content: '\2655';
  font-size: 80px;
  display: inline-block;
  color: rgb(228, 222, 222);
  position: relative;
  left: 10%;
}


/* black-side color */
.square:nth-child(1)::before,
.square:nth-child(2)::before,
.square:nth-child(3)::before,
.square:nth-child(4)::before,
.square:nth-child(5)::before,
.square:nth-child(6)::before,
.square:nth-child(7)::before,
.square:nth-child(8)::before,
.square:nth-child(8) ~ div:nth-child(-1n + 16)::before
{
  color: rgb(78, 65, 65);
}