.container {
  width: 879px;
  border: 7px solid grey;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  gap: 5px;
}

.square {
  margin: 2px;
  background-color: black;
  width: 100px;
  height: 100px;
}

.square:nth-child(-2n + 7),
.square:nth-child(9) ~  div:nth-child(-2n + 16), 
.square:nth-child(16) ~ div:nth-child(-2n + 23), 
.square:nth-child(25) ~ div:nth-child(-2n + 32), 
.square:nth-child(32) ~ div:nth-child(-2n + 39), 
.square:nth-child(41) ~ div:nth-child(-2n + 48), 
.square:nth-child(48) ~ div:nth-child(-2n + 55), 
.square:nth-child(56) ~ div:nth-child(-2n + 64) 
{
  background-color: rgb(255, 255, 228);
}
